@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
}

html {
    /* background-image: url(/blac.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: black;
}

html a {
    color: black;
}


/* nav styling */

nav {
    width: 100%;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f10000;
    background-image: url(/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

:is(#menu,
#close) {
    display: none;
}

.logo {
    font-size: 20px;
    /* font-weight: bold; */
    color: #f10000;
    text-transform: uppercase;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255);
}


/* main section styling */

.tres {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* border: 1px solid #f10000; */
    margin: 0 auto;
    height: 100vh;
    gap: 20px;
}

.tres-col {
    flex-basis: 33%;
    height: 60%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-between;
    /* border: 10px solid #f10000; */
    border: 10px solid transparent;
    border: 10px solid rgba(241, 47, 47, 0.5);
    border-radius: 20px;
    gap: 20px;
}

span {
    display: block;
}

article h1 {
    font-size: 2.5em;
    font-weight: bold;
}

article:hover {
    box-shadow: 4px 4px 10px #f10000;
    transition: 1s;
}

.one:hover {
    border: 10px solid #f10000;
    transition: 1s;
}

.two:hover {
    border-color: #25b4d8;
}

.three:hover {
    border-color: #14c71a;
}

.two .pur {
    border-color: #25b4d8;
    color: #25b4d8;
}

.two .pur:hover {
    border-color: #25b4d8;
    color: #fff;
}

.two .pur:hover::after {
    background-color: #25b4d8;
}

.three.pur {
    border-color: #14c71a;
    color: #14c71a;
}

.three.pur:hover {
    border-color: #14c71a;
    color: #fff;
}

.three.pur:hover::after {
    background-color: #14c71a;
}

p {
    font-family: 'Inria Serif', serif;
    font-weight: 300;
    font-size: 18px;
}

p>span {
    text-align: center;
    padding: 5px;
}

p[class=top] {
    text-align: center;
    font-size: 14px;
}


/* button styling */

.pur {
    min-width: 10px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #ff0a78;
    color: #ff0a78;
}

.pur:hover {
    color: #fff;
}

.pur:hover:after {
    height: 100%;
}

.pur:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #ff0a78;
}


/* footer styling */

footer {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.footer-col {
    /* flex-basis: 48%; */
    height: 60%;
    padding: 20px
}

.wan {
    display: flex;
    /* flex-basis: 33%; */
    height: 60%;
    padding: 20px;
    flex-grow: 1;
}

ul:is(.Company,
.info,
.resources) li a {
    line-height: 2em;
    font-weight: 300;
    font-size: 1em;
}

ul:is(.Company,
.info,
.resources) li a:hover {
    color: #07eee2;
}

.wan ul {
    flex-basis: 33%;
}

.wan ul label {
    font-size: 1.1em;
    font-weight: bold;
}

input[type="email"] {
    height: 40px;
    border: 1px solid #0735ee;
    margin-right: 5px;
    font-size: ;
}

input[type="email"]:focus {
    outline: 1px solid #0735ee;
}

button {
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #0735ee;
    color: #0735ee;
    font-weight: 900;
}

button:hover {
    color: #fff;
}

button:hover:after {
    width: 100%;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #0735ee;
}

.wot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 40px;
}

.social {
    display: flex;
    width: 100px;
    justify-content: space-between;
    font-size: 1.4em;
}

i[class="fab fa-facebook"]:hover {
    color: #4267B2;
}

i[class="fab fa-twitter"]:hover {
    color: #1DA1F2;
}

i[class="fab fa-instagram"]:hover {
    color: #E1306C;
}


/* media querries */